font-family: "Montserrat", sans-serif;
 {
  font-size: 20px;
}
body {
  color: #484848;
  font-size: 20px;
  background-repeat: no-repeat;
}
h1 {
  color: #540d6e;
  font-size: 50px;
}
h3 {
  color: #f15bb5;
  font-size: 30px;
}

h4 {
  color: #fee440;
  font-size: 25px;
}
h5 {
  color: #000000;
  font-size: 20px;
}
.ptb-6 {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* Imagen de Perfil */

.img-profile {
  width: 300px;
  height: 300px;
  border-radius: 100px;
}

/* Barra de menú */

.btn {
  color: #000000;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
.btn:hover {
  color: #ffffff;
  background-color: #f15bb5;
  border-radius: 0px;
}
.nav {
  background-color: #00f5d4;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

/* Perfil */

.bg-skew {
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
  background: #9b5de5;
  position: static;
  z-index: 1;
}
.bg-skew::before {
  content: "";
  height: 100%;
  width: 100%;
  position: static;
  z-index: -1;
  top: 0;
  left: 0;
  background: inherit;
  transform: skew(0, -2deg);
  transform-origin: top left;
}
.bg-skew::after {
  content: "";
  height: 100%;
  width: 100%;
  position: static;
  z-index: -1;
  top: 0;
  left: 0;
  background: inherit;
  transform: skew(0, -2deg);
  transform-origin: bottom right;
}

/* Formación */

.bg-skew-dif {
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
  background: #9b5de5;
  position: relative;
  z-index: 1;
}
.bg-skew-dif::before {
  content: "";
  height: 100%;
  width: 100%;
  position: static;
  z-index: -1;
  top: 0;
  left: 0;
  background: inherit;
  transform: skew(0, -2deg);
  transform-origin: top left;
}
.bg-skew-dif::after {
  content: "";
  height: 100%;
  width: 100%;
  position: static;
  z-index: -1;
  top: 0;
  left: 0;
  background: inherit;
  transform: skew(0, -2deg);
  transform-origin: bottom right;
}

/* Formulario de contacto */

textarea,
input {
  font-size: 16px;
  border: 1px solid #f15bb5;
}
textarea {
  min-height: 60px;
}
textarea:focus,
input:focus {
  text-indent: 6px;
  border-color: #00f5d4;
}
.boton-contacto {
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  min-width: 100px;
  background-color: #f15bb5;
  border: 0px;
}

/* Fondos de las secciones */

.bg-header-img {
  background-image: url(img/Imagenes\ CV-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.bg-exp-lab {
  background-image: url(img/Imagenes\ CV-04.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.bg-contact {
  background-image: url(img/Imagenes\ CV-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
